 <!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->
    </ul>
    <br />
    <br />
    <h5>CONTACT</h5>
    <br />
    <div>
        <i class="bi bi-envelope"></i>
        <span>zerikoficial@gmail.com</span>
    </div>
    <br />
    <div>
        <i class="bi bi-linkedin"></i>
        <span>/erikhaban</span>
    </div>
    <br />
    <div>
        <i class="bi bi-telephone"></i>
        <span>+52 986 113 0012</span>
    </div>
    <br />
    <br />
    <BlazorCRUDProject.Client.Pages.EstadosDeConexion/>



</aside><!-- End Sidebar-->
<script src="assets/js/main.js"></script>
@code {

}
